{% extends "layout.html" %}

{% block content %}
<h2>Guest List RSVP Tracker</h2>

<div>
    <h2>RSVP Dashboard</h2>
    <a href="{{ url_for('export_csv') }}" class="button" >
        📥 Download CSV for Excel
    </a>
</div>


<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Attending?</th>
            <th>Meal Starter Choice</th>
            <th>Meal Main Choice</th>
            <th>Dietary Requirements</th>
        </tr>
    </thead>
    <tbody>
        {% for guest in guests %}
        <tr>
            <td>{{ guest.name }}</td>
            <td class="attending-{{ guest.attending }}">
                {{ guest.attending | capitalize }}
            </td>
            <td>{{ guest.meal_starter }}</td>
            <td>{{ guest.meal_main }}</td>
            <td>{{ guest.dietary_requirements }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
