{% extends "layout.html" %}

{% block content %}
<h2>RSVP</h2>
<p>Please fill in the form separately for everyone in your party.</p>

<form method="POST">
    <label for="name">Your Full Name</label><br>
    <input type="text" id="name" name="name" required>
    <br>

    <label for="attending">Will you be attending?</label><br>
    <select id="attending" name="attending">
        <option value="yes">Yes, definitely!</option>
        <option value="no">Sadly, no.</option>
    </select>
    <br>


    <label>Starter Preference</label><br>
    {% for option in wedding.meal_starter_options %}
    <label><input type="radio" name="meal_starter" value="{{ option.value }}"> {{ option.label }}</label><br>
    {% endfor %}
    <label><input type="radio" name="meal_starter" value="None"> None</label><br>

    <label>Main Course Preference</label><br>
    {% for option in wedding.meal_main_options %}
    <label><input type="radio" name="meal_main" value="{{ option.value }}"> {{ option.label }}</label><br>
    {% endfor %}
    <label><input type="radio" name="meal_main" value="None"> None</label><br>

    <label for="dietary_requirements">Dietary requirements</label><br>
    <input type="text" id="dietary_requirements" name="dietary_requirements" placeholder="None"><br>

    <label for="anything_else">Anything else we should know or forgot to ask</label><br>
    <input type="text" id="anything_else" name="anything_else" placeholder="None"><br>
    <br>
    <button type="submit" class="button">Submit Response</button>
</form>
{% endblock %}
